@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
      to right,
      rgb(10, 10, 20),
      rgb(25, 20, 40)
    );
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #191428;
}

::-webkit-scrollbar-thumb {
  background: #31274d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #31274d68;
}

::selection {
  background: #0d1c4667;
  color: #4025ec;
}